  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Karla", "Open Sans", "Arial", "Verdana", sans-serif;
    font-size: 1em;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  
  main {
    flex: 1 0 auto;
    background-color: #e0f2f1;
    margin-bottom: -20px;
  }
  
  .banner {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -50px;
    img {
      height: 10000px;
    }
  }
  
  .navigation {
    padding-left: 30px;
    .logo {
      height: 50px;
    }
    .menu {
      margin-right: 20px;
    }
  }
  
  .login {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .document {
    text-align: justify;
    .form {
      height: 800px;
    }
  }
