base(href='/')
meta(charset='utf-8')
//Import materialize.css
meta(name="viewport" content="width=device-width, initial-scale=1.0")

// Materialize css
link(rel='stylesheet' href="lib/font-awesome/css/font-awesome.min.css")
link(rel='stylesheet' href="lib/Materialize/dist/css/materialize.min.css" media="screen,projection")
link(rel='stylesheet' type='text/css' href='css/app.css')



// Angular material javascript dependencies
script(src="lib/angular/angular.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
//script(src="lib/angular-cookies/angular-cookies.min.js")
script(src="lib/angular-route/angular-route.min.js")
script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/Materialize/dist/js/materialize.min.js")


// Font Awesome dependency
script(src="lib/font-awesome/css/font-awesome.css")

// Our scripts
script(src="js/app.js")
title Maktaba