#navbar.navbar-fixed.scrollspy
  nav.white.navigation
    .nav-wrapper(ng-controller="HeaderCtrl")
      .brand
        a.brand-logo(ui-sref='dashboard')
          img.logo(src='images/logo.png' alt='Maktaba')
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.mdi-navigation-menu
      ul.right.hide-on-med-and-down(ng-if="!user")
        li
          a(ui-sref="login").tooltipped(data-position="bottom" data-delay="50" data-tooltip="Login")
            i.material-icons.md-18 lock
      ul.right.hide-on-med-and-down(ng-if="user")
        li
          a(ui-sref="dashboard").tooltipped(data-position="bottom" data-delay="50" data-tooltip="Home")
            i.material-icons.md-18 home
        li
          a(ui-sref="profile").tooltipped(data-position="bottom" data-delay="50" data-tooltip="Profile")
            i.material-icons.md-18 supervisor_account
        li
          a(ui-sref="addDocument").tooltipped(data-position="bottom" data-delay="50" data-tooltip="Add Document")
            i.material-icons.md-18 note_add
        li
          a(ng-click="logout()").tooltipped(data-position="bottom" data-delay="50" data-tooltip="Logout")
            i.material-icons.md-18 lock_open
      ul#mobile-demo.right.side-nav
        li
          a.head-link(href='#projects') Projects
        li
          a.head-link(href='#aboutus') About Us
        li
          a.head-link(href='#contactus') Contact Us
#loader-wrapper
    #loader
    .loader-section.section-left
    .loader-section.section-right
