.row.document
  .col.s12.m4.l3.hide-on-small-only
    ul.collection
      li.collection-item Alvin
      li.collection-item Alvin
      li.collection-item Alvin
      li.collection-item Alvin

  .col.s12.m8.l9
    ul.collection.with-header
      li.collection-header
        h4 Documents
      li.collection-item.avatar(ng-repeat="document in documents")
        i.material-icons.circle.green folder
        span.title
         a(href="" ng-click="readMore(document._id)")
          | {{document.title}}
        div
          |  {{document.content | limitTo: 365}}
          a(href="" ng-click="readMore(document._id)")
            i.material-icons open_in_new





