.banner
  #index-banner.parallax-container
    .section.no-pad-bot
      .container
        br
        br
        h1.header.center.teal-text.text-lighten-2 Maktaba
        .row.center
          h5.header.col.s12.light
            em save, edit and view your documents with ease
        .row.center
          a.btn-large.waves-effect.waves-light.purple.lighten-1(ui-sref='login') Find more
        br
        br
    .parallax
      img(src='images/doc1.jpg', alt='Unsplashed background img 2')
  .container
    .section
      // Icon Section
      .row
        .col.s12.m4
          .icon-block
            h2.center(style='color:#333')
              i.material-icons.md-48 note_add
            h5.center Create
            p.light
              | Maktaba enables you to create your documents, with much ease, just have a title and start typing.
        .col.s12.m4
          .icon-block
            h2.center(style='color:#333')
              i.material-icons.md-48 border_color
            h5.center Edit
            p.light
              | You can edit your documents, anytime you need without much difficulty, with Maktaba your mistakes can be corrected
        .col.s12.m4
          .icon-block
            h2.center(style='color:#333')
              i.material-icons.md-48 launch
            h5.center View
            p.light
              | Through maktaba, you can view your documents, and other users documents with much ease, Get inspired
  .parallax-container.valign-wrapper
    .section.no-pad-bot
      .container
        .row.center
          h5.header.col.s12(style='color: #333;') Inspire, Motivate, and Mentor. Login now and experience the beauty.
    .parallax
      img(src='images/doc2.jpg', alt='img')

  #About.parallax-container.valign-wrapper.section.scrollspy
    .section.no-pad-bot
      .container
        .center.row.col.s3
          h3 About Us
        .center.row.col.s12
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .parallax

